<div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="brand">
                    Search input debounce application
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="main">
        <div class="row-fluid">
            <div>
                <div class="span3">
                    <div class="well sidebar-nav">
                        <span class="nav-header">Menu</span>
                        <ul class="nav nav-list">
                        {{#linkTo "todos" tagName="li" class="navigate"}}
                            <a {{bindAttr href="view.href"}}>Todos</a>
                        {{/linkTo}}
                        {{#linkTo "task" tagName="li" class="navigate"}}
                            <a {{bindAttr href="view.href"}}>Task</a>
                        {{/linkTo}}
                        {{#linkTo "comments" tagName="li" class="navigate"}}
                            <a {{bindAttr href="view.href"}}>Comments</a>
                        {{/linkTo}}
                        </ul>
                    </div>
                </div>
                <div class="span9">
                    <div class="well">
                        {{outlet}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
