<h1>Comments</h1>
<ul id="comments">
    <li>I'd use MODEL LIFECYCLE events, but have no properly configured crud server right now. The first unusable version of it is placed inside <strong>/crud-server</strong> folder. Because of the same reason I have to avoid server requests by using FIXTURE store</li>
</ul>