<h1>Task</h1>


Imagine we have an Ember.js application with a search field. As you type in the field, the text you type is sent to the server to retrieve search results
As you type, you continuously get results
This results in the server becoming overloaded with requests
Instead, we want the server to *only* return search results if the user stops typing for two seconds.
Please provide a way to accomplish this using javascript and code that is designed to work with Ember.js
